<!-- <!DOCTYPE html>
<html>
<head>
    <title>Tambah Soal</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="bg-gray-100">
    <header class="md:justify-between bg-blue-500 py-4 px-6 shadow-md flex flex-wrap justify-center">
        <div class="flex flex-wrap justify-between">
            <h1 class="text-white font-bold sm:text-xl text-md" >Sistem Pembelajaran Daring</h1>
        </div>
    
        <div class="flex flex-wrap gap-2">
            <a href="/logout" class="hover:underline rounded-xl btn sm:bg-yellow-500 sm:px-4 sm:py-2 sm:text-l px-5 bg-transparent text-sm  text-white">Keluar</a>
        </div>
    </header>
    <main class="px-6 py-4">
        <div class="max-w-3xl mx-auto">
        <p class="text-xl font-bold mb-4">Tambah Soal</p>
            <form action="/tambah-soal" method="post" class="bg-white shadow-md rounded-lg p-4">
                <label for="soal" class="block font-bold mb-2 text-gray-700">Soal</label>
                <textarea name="soal" id="soal" class="block w-full rounded-lg p-2 border-gray-400 focus:outline-none focus:border-blue-500 shadow-md" rows="5" required></textarea>
                <label for="pilihan_a" class="block font-bold mt-4 mb-2 text-gray-700">Pilihan A</label>
                <input type="text" name="pilihan_a" id="pilihan_a" class="shadow-md block w-full rounded-lg p-2 border-gray-400 focus:outline-none focus:border-blue-500" required>
                <label for="pilihan_b" class="block font-bold mt-4 mb-2 text-gray-700">Pilihan B</label>
                <input type="text" name="pilihan_b" id="pilihan_b" class="shadow-md block w-full rounded-lg p-2 border-gray-400 focus:outline-none focus:border-blue-500" required>
                <label for="pilihan_c" class="block font-bold mt-4 mb-2 text-gray-700">Pilihan C</label>
                <input type="text" name="pilihan_c" id="pilihan_c" class="shadow-md block w-full rounded-lg p-2 border-gray-400 focus:outline-none focus:border-blue-500" required>
                <label for="pilihan_d" class="block font-bold mt-4 mb-2 text-gray-700">Pilihan D</label>
                <input type="text" name="pilihan_d" id="pilihan_d" class="shadow-md block w-full rounded-lg p-2 border-gray-400 focus:outline-none focus:border-blue-500" required>
                <label for="jawaban" class="block font-bold mt-4 mb-2 text-gray-700">Jawaban</label>
                <input type="text" name="jawaban" id="jawaban" class="shadow-md block w-full rounded-lg p-2 border-gray-400 focus:outline-none focus:border-blue-500" required>
                <div class="mt-4">
                    <button type="submit" class="btn bg-blue-500 rounded-lg text-white px-4 py-2">Tambah</button>
                </div>
            </form>
        </div>
        
    </main>
    <footer class="bg-gray-300 py-4 px-6 fixed bottom-0 left-0 right-0">
        <p class="text-center text-gray-700 text-sm">Copyright Syukur Iman Attaqwa 2022</p>
    </footer>
</body>
</html>  -->
