{{define "user/registerUser.tmpl"}}
<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
<body class="bg-gray-100">
    <header class="md:justify-between bg-blue-500 py-4 px-6 shadow-md flex flex-wrap justify-center">
        <div class="flex flex-wrap justify-between">
            <h1 class="text-white font-bold sm:text-xl text-md" >Sistem Pembelajaran Daring</h1>
        </div>
    
        <div class="flex flex-wrap gap-2">
            <a href="/login" class="hover:underline rounded-xl btn sm:bg-yellow-500 sm:px-4 sm:py-2 sm:text-l px-5 bg-transparent text-sm  text-white">Login</a>
        </div>
    </header>
  <main class="px-6 py-4">
    <div class="max-w-3xl mx-auto">
      <p class="text-xl font-bold mb-4">Register Siswa</p>
      <form action="/register/proses" method="post" class="bg-white shadow-md rounded-lg p-4">
        <label for="fullname" class="block font-bold mt-4 mb-2 text-gray-700">Nama</label>
        <input type="text" name="fullname" id="fullname" class="block w-full rounded-lg p-2 border-gray-400 shadow-md focus:outline-none focus:border-blue-500" required>
        <label for="email" class="block font-bold mt-4 mb-2 text-gray-700">Email</label>
        <input type="email" name="email" id="email" class="block w-full rounded-lg p-2 shadow-md border-gray-400 focus:outline-none focus:border-blue-500" required>
        <label for="password" class="block font-bold mt-4 mb-2 text-gray-700">Password</label>
        <input type="password" name="password" id="password" class="block w-full shadow-md rounded-lg p-2 border-gray-400 focus:outline-none focus:border-blue-500" required>
        <div class="mt-4">
          <button type="submit" class="btn text-white rounded-lg bg-blue-500 px-4 py-2">Daftar</button>
          
        </div>
      </form>
    </div>
  </main>
  <footer class="bg-gray-300 py-4 px-6 fixed bottom-0 left-0 right-0">
    <p class="text-center text-gray-700 text-sm">Copyright Syukur Iman Attaqwa 2022</p>
  </footer>
</body>
</html>
{{end}}